<header>
    <h1>BMI Calculator</h1>
</header>

<section>
    <form [ngFormModel]="form">
        
        <label>Name</label>
        <input type="text" ngControl="name">
        
        <label>Height (cm):</label>
        <input type="number" ngControl="height">
        
        <label>Weight (kg):</label>
        <input type="number" ngControl="weight">
     
        <div> Body Mass Index (BMI) = {{ bmi | async }}</div>
        <div> Category: {{ category | async }} </div>
    </form>
</section>
<section>
    <button (click)="addNewPerson()">Add</button>
    <ul>
        <li *ngFor="#person of people | async">
            {{ person }}
        </li>
    </ul>
</section>    

<footer>
</footer>